<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springstudy.bbs.mapper.MainMapper" >
	
	<select id="mainBody" resultType="MainBody" parameterType="String">
		SELECT
			s.*
		FROM
		(SELECT
			s.*, b.bodyCode
		FROM symptom s, body_symptom1 b
		WHERE s.symptomCode in
		(SELECT
			symptomCode
		FROM body_symptom1
		WHERE bodyCode REGEXP #{code}) and s.symptomCode = b.symptomCode) s
		WHERE bodyCode REGEXP #{code}
	</select>
	
	<select id="bodySym" resultType="MainBody" parameterType="java.util.List">
		SELECT
			a.disease_name diseaseName, GROUP_CONCAT(a.medicalName SEPARATOR ',') as medicalName
		FROM (SELECT d.disease_name, m.medicalName FROM disease_test d, medical m
		WHERE
		<foreach collection="list" item="item" separator="and">
			sympton_code REGEXP #{item}
		</foreach>
		and d.medical_code REGEXP m.medicalCode) a
		GROUP BY a.disease_name;
	</select>	
	
	<!-- 부위 중간 검색 -->
	<select id="getBodyName" resultType="String" parameterType="hashmap">
		SELECT
			b.bodyName bodyName
		FROM body b, body_symptom1 s
		WHERE b.bodyCode = s.bodyCode
		<foreach collection="list" item="item">
			and s.symptomCode = #{item}
		</foreach>
		GROUP BY b.bodyName
	</select>
	
	<!-- 추천 검색 -->
	<select id="getIngredient" resultType="String" parameterType="hashmap">
		SELECT GROUP_CONCAT(a.typicalIngredient) as typicalIngredient
		FROM
		(SELECT
			typicalIngredient
		FROM product
		WHERE 
		<foreach collection="list" item="item" separator="and">
		typicalFunction REGEXP #{item}
		</foreach>
		GROUP BY typicalIngredient) a
	</select>
	
</mapper>	
